.carouselImage {
  width: 400px; /* Largura desejada */
  height: 700px; /* Altura desejada */
}

.carousel {
  background-color: #333; /* Cor de fundo do carrossel */

  color: #fff;
}

/* Estilos para as legendas do carrossel */
.carousel-caption {
  background-color: rgb(255, 255, 255); /* Fundo da legenda com transparência */


  color: #fff; /* Cor do texto da legenda */
}