
.custom-nav {
  background-color: #8D448B;
  font-size: 20px;
}

.custom-link {
  color: rgb(255, 255, 255) !important; /* Define a cor do texto como branca */
  text-decoration: none !important; /* Remove a decoração de texto (sublinhado) */
  font-size: 30px; 
}

/* Estilos personalizados para o dropdown */
.custom-dropdown {
  color: rgb(255, 255, 255) !important; /* Define a cor do texto como branca */
  text-decoration: none !important; 
  color: 'black';
}


